.container {
	width: 380px;
	height: 600px;
	border: 2px solid #779BAD;
	background-color: #D9E8F5;
	border-radius: 15px;
	margin: 0 auto;
}

.screen {
	margin: 20px;
	width: 340px;
	height: 100px;
	background-color: white;
	border-radius: 15px;
}

button {
	height: 40px;
	width: 84px;
	margin: 15px 20px;
	border-radius: 15px;
	
}